/* button loader */
.loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: var(--f7-theme-color);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	.loader-footer{		
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding-bottom: 30px;
	
		.logo-text{
			color: #fff;
			margin: 0 0 8px;
		}
		p{
			opacity: 0.5;
			margin: 3px 0 0px;
		}
	}
}

// Loading Area
#loading-area{
	position: relative;
	margin: 0 auto 50px;
	padding: 15px;
	height: 100%;
	display: flex;
    justify-content: center;
	
	.logo-icon{
	    height: 94px;
		width: 94px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		border-radius: 18px;
	}
	.logo-svg{
		box-shadow: 0 0px 80px rgba(255, 255, 255, 0.15);		
	}
}
.logo-svg{
	border-radius: 18px;

	.bg-color{
		fill: var(--f7-theme-color);
	}
}