// Cart
.cart-item{
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
	
	// item-head
	.item-head{
		padding: 15px 0;
		@include flex-center-between;
		
		.item-num{
			font-size: 16px;
		    margin: 0;
		}
		.status{
		    margin: 0;
		}
	}
	
	// item-body
	.item-body{
		display: flex;
		padding-bottom: 20px;
			
		.dz-media{
			width: 60px;
			min-width: 60px;
			border-radius: $border-radius-md;
			overflow: hidden;
			height: 90px;
		
			img{
				@include img-full-cover;
			}
		}
		.dz-info{
			width: 100%;
			padding: 0 0 0 18px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
	
			.item-title{
				margin: 0;
			}
		}
		.dz-foot{
			@include flex-center-between;
		}
		.price{
			color: #777777;
			margin: 0;
			font-size: 16px;
			font-weight: 500;
			
			del{
				font-size: 14px;
				margin-right: 8px;
			}
		}
	}
	
	// item-footer
	.item-footer{
		@include flex-center-between;
		border-top: 1px solid var(--border-color);
		padding: 15px 0;
			
		.total{
			margin: 0;
		}
		.total-price{
			margin: 0;
			font-weight: 500;
		}
	}
}
.container.pa-0{
	padding-left: 0;
	padding-right: 0;
}