.dz-banner-height{
	height:300px;
	width:100%;
	display:block;
}

// swiper-slider-wrapper
.item-detail-swiper{
	position: absolute;
	top: 0;
	height: 420px;
	swiper-slide{
		width: auto;
		img{
			@include img-full-cover;
		}
	}
	&::part(pagination){
		bottom: 60px!important;
	}
}

.navbar-items{
	.navbar-inner{
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	&.navbar-transparent-visible{
		.navbar-inner{
			background: unset;
		}
	}
}
.button.button-large.cart-btn{
	height: 60px;
	padding: 10px 15px;
}
.details-list{
	padding: 0;
    margin: 0;
	
	li{
		display: block;
		color: #000;
		font-size: 14px;
		padding: 5px 0;
		font-weight: 400;
	
		span{
			color: #777777;
			float: right;
		}
	}
}
.item-details{
	.item-info{
		border-top: 1px solid var(--border-color);
		padding: 25px 0;
		.title{
			color: #4E4E4E;
		}
		.main-swiper{
			swiper-slide{
				padding-bottom: 0; 
			}
		}
	}
	.main-info{
		.item-inner{
			@include flex-center-between;
			.item-title{
				margin: 0;
			}
		}
		.price{
			font-weight: 600;
			font-size: 20px;
			color: #000;
			del{
				font-size: 14px;
				font-weight: 500;
				color: #929292;
				margin-left: 8px;
			}
		}
		.dz-badge{
			line-height: 14px;
			font-size: 14px;
		}
	}
	.reviews-info{
		@include flex-center-center;
		i{
			color: #FFA800;
			font-size: 20px;
			margin-right: 10px;
		}
		.reviews{
			margin: 0;
		}
	}
	.details-meta{
		ul{
			margin: 0;
			padding: 0;
			svg,
			i{
				margin-right: 10px;
			}
			li{
				display: inline-flex;
				align-items: center;
				color: #000;
				margin-right: 15px;
			}
		}
	}
}
.tags-swiper{
	.swiper-slide{
		width: auto;
	}
}

.bookmark-btn.bookmark-bx{
	@include flex-center-center;
    width: 58px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    height: 58px;
	padding: 0;
    min-width: 58px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}