// Location Tracking
.map-dir{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 15px 25px;
    background-color: var(--f7-theme-color-white);
    display: inline-block;
    border-radius: $border-radius-lg;
	position: relative;
	
	&:after{
		content: "";
		background-color: inherit;
		height: 20px;
		width: 20px;
		position: absolute;
		right: 30px;
		top: -6px;
		transform: rotate(45deg);
		box-shadow: -5px -3px 10px rgba(0,0,0,0.1);
	}
}
.track-content{
	position: relative;
}
.location-tracking{
	iframe{
	    height: 100%;
		width: 100%;
		border: 0;
		margin-bottom: -60px;
	}
	.fixed-content{
		bottom: 0;
		left: 0;
		right: 0;
	}
	.map-dir{
		position: absolute;
		left: 115px;
		top: -160px;
	}
	.bottom-wraper{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	.navbar{
		.title{
			small{
				font-size: 14px;
				color: #777777;
				display: block;
				font-weight: 500;
				margin-top: 5px;
			}
		}
	}
}

.delivery-man{
	.inner-content{
		display: flex;
		align-items: center;
	}
	.icon-area{
		display: flex;
		margin-left: auto;
	}
	.dz-media{
		height: 42px;
		max-width: 42px;
		border-radius: $border-radius;
		overflow: hidden;
		margin-right: 12px;
		
		img{
			width: 100%;
		}
	}
	.title{
		margin: 0;
	}
	p{
		margin: 0;
		font-size: 12px;
		color: #000;
		font-weight: 500;
	}
	.icon-cell{
		margin-left: 10px;
		height: 40px;
		width: 40px;
		text-align: center;
		line-height: 40px;
		svg{
			height: 40px;
		}
	}
}
.track-list{
	padding: 0;
    margin: 0;
	position: relative;
	
	.title{
		margin: 0;
	}
	p{
		margin: 0;
		font-size: 12px;
	}
	.button{
		text-transform: capitalize;
		font-weight: 700;
		margin-left: auto;
	}
}

// dz-timeline
.dz-timeline{
	.timeline-item-divider{
		width: 18px;
		height: 18px;
		background: var(--f7-theme-color);
		margin-left: 0;
		margin-right: 30px;
		&:after,
		&:before{
			border-left: 2px dashed #C4C4C4;
			background-color: transparent;
		}
	}
	.timeline-item-content {
		width: 100%;
		margin: 0;
	}	
	.timeline-item {
		padding-bottom: 30px;
		&:last-child{
			padding-bottom: 0;
		}
	}
}