// Swiper Pagination
swiper-container.swiper-pagination1::part(pagination){
	bottom: 0;
}
swiper-container.swiper-pagination1::part(bullet){
	width: 16px;
	height: 5px;
	border-radius: 10px;
	@include transitionMedium;
}
swiper-container.swiper-pagination1::part(bullet-active){
	width: 30px;
	height: 5px;
	border-radius: 10px;
	@include transitionMedium;
	--swiper-theme-color: var(--f7-theme-color)!important;
}

swiper-container.swiper-slider-wrapper .swiper-pagination1{
	bottom: 60px;
}