// Body
$body-bg: #fbf7ff;
$body-color: #7e7e7e;
$gray: #efefef;

:root{	
  --f7-theme-color: #2B39B9;
  --f7-theme-color-rgb: 74,55,73;
  --f7-theme-color-shade: #0936C3;
  --f7-theme-color-tint: #a44ef1;
  --f7-theme-color-light: #EBF6F0;
  --f7-theme-color-white: #fff;
  --border-color: #E5E5E5;
}

// Typography
$font-family-base: 'Poppins', sans-serif;
$headings-font-weight: 600;

$font-size-base     : 0.875rem !default;
$font-weight-base   : 400 !default;

// $line-height-base: 1.6;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

$strong:#646c9a;
$border: #E5E5E5;
$shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);

// $headings color
$headings-color: #000;

///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;

$primary  : #2B39B9 !default;
$secondary: #5B5B5B !default;
$success  : #1EB840 !default;
$info     : #6798ff !default;
$warning  : #ff9838 !default;
$danger   : #E93737 !default;
$light    : #E8E8E8 !default;
$dark     : #6e6e6e;


/////////////////////////
// Primary Light
/////////////////////////
$primary-light: lighten($primary, 43%);
$secondary-light: lighten($secondary, 40%);
$success-light: lighten($success, 38%);
$warning-light: lighten($warning, 38%);
$danger-light: lighten($danger, 38%);
$info-light: lighten($info, 47%);
$dark-light: lighten($dark, 50%);

// border-radius
$border-radius: 8px;
$border-radius-md: 12px;
$border-radius-lg: 18px;